{% extends "hotel/layout.html" %}
{% load i18n %}

{% load static %}

{% block script %}
    <script src="{% static 'hotel/bookings.js' %}"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-12 col-sm-12 booking-title"> 
  {% translate 'Bookings' %}
  </div>
</div>

<div class="row">
   <div class="col-lg-3 col-sm-12">
   </div>

   <div class="col-lg-6 col-sm-12">

    <div class="alert alert-success border border-success booking-info">
      <div class="material-icons-outlined booking-info-icon">lock_open</div>
      <div class="booking-info-strong">
            {% translate 'Lock in a great price for your upcoming stay' %} </div>
      <div class="booking-info-normal"> {% translate 'Get instant confirmation with FREE cancellation on most rooms!' %} </div>
    </div>

    <div class="booking-availability-title"> 
      {% translate 'Availability' %}
    </div>

    <div class="alert alert-warning border border-warning booking-info">
      <div class="booking-availability-normal">
        {% translate 'When would you like to stay at Hotel Le Monde?' %}
      </div>
      
        <div>
          <form action="{% url 'bookings' %}" method="post" id="booking-check-availability-form" class="booking-form">
          
          {% csrf_token %}

          <div>
          <span class="booking-form-checkin-label">{% translate 'Check In' %}</span>
          <input type="date" id="datein" name="datein" placeholder="yyyy-mm-dd" value="{{ check_in_date }}" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" required>
         </div>

         <div>
         <span class="booking-form-checkout-label">{% translate 'Check Out' %}</span>
         <input type="date" id="dateout" name="dateout" placeholder="yyyy-mm-dd" value="{{ check_out_date }}" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" required>
         </div>

         <div>
          <input type="submit" id="booking-btn-check" class="btn btn-primary booking-btn" value="{% translate 'Check Availability' %}">
         </div>
        </form>
      </div>
    </div>

    <div class="alert alert-info border border-info ">

      <table id="booking-table">
        <thead>
          <tr>
            <th scope="col">{% translate 'Sleeps' %}</th>
            <th scope="col">{% translate 'Room Type' %}</th>
            <th scope="col">{% translate 'Prices' %} <br><text class="booking-table-leyend">({% translate 'for one night' %})</text></th>
            <th scope="col">{% translate 'Select Rooms' %}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <i class="material-icons booking-table-icon"> person </i></td>
            <td> {% translate 'Single' %} </td>
            <td id="single_rate"> {{ single_rate }} </td>
            <td>{{ single_available }} {{ label }}&nbsp;
            {% if user.is_authenticated %}
              <select id="singles-select">
                {% for i in single_range %}
                <option value='{{ i }}'>{{ i }}</option>
                {% endfor %}
                </select>
            {% endif %}
            </td>
          </tr>
          <tr>
            <td> <i class="material-icons booking-table-icon"> person </i>
                 <i class="material-icons booking-table-icon"> person </i> + 
                 <i class="material-icons booking-table-icon"> child_care </i> 
                 <div class="booking-tooltip"> <i class="material-icons-outlined booking-table-icon" style="color:orangered;"> info </i>
                 <span class="tooltiptext">&nbsp;{% translate '3 guests max, with a maximum of 2 adults.' %}&nbsp;</span>
                 </div>
                </td>

            <td> {% translate 'Double' %} </td>
            <td id="double_rate"> {{ double_rate }} </td>
            <td>{{ double_available }} {{ label }}&nbsp;
            {% if user.is_authenticated %} 
              <select id="doubles-select">
                {% for i in double_range %}
                <option value='{{ i }}'>{{ i }}</option>
                {% endfor %}
                </select>
            {% endif %}
            </td>
          </tr>
          <tr>
            <td> <i class="material-icons booking-table-icon"> person </i> 
                 <i class="material-icons booking-table-icon"> person </i>
                 <i class="material-icons booking-table-icon"> person </i> + 
                 <i class="material-icons booking-table-icon"> child_care </i>
                 <div class="booking-tooltip">
                 <i class="material-icons-outlined booking-table-icon" style="color: orangered;">info </i>
                 <span class="tooltiptext">&nbsp;{% translate '4 guests max, with a maximum of 3 adults.' %}&nbsp;</span> 
                </div>
                </td>
            <td> {% translate 'Triple' %} </td>
            <td id="triple_rate"> {{ triple_rate }} </td>
            <td>{{ triple_available }} {{ label }}&nbsp;
            {% if user.is_authenticated %} 
              <select id="triples-select">
                {% for i in triple_range %}
                <option value='{{ i }}'>{{ i }}</option>
                {% endfor %}
                </select>
            {% endif %}
            </td>
          </tr>
          <tr>
            <td> <i class="material-icons booking-table-icon"> person </i>
                 <i class="material-icons booking-table-icon"> person </i>
                 <i class="material-icons booking-table-icon"> person </i>
                 <i class="material-icons booking-table-icon"> person </i> + 
                 <i class="material-icons booking-table-icon"> child_care </i>
                 <div class="booking-tooltip">
                 <i class="material-icons-outlined booking-table-icon" style="color: orangered;">info </i> 
                 <span class="tooltiptext">&nbsp;{% translate '5 guests max, with a maximum of 4 adults.' %}&nbsp;</span> 
                </div> 
                </td>
            <td> {% translate 'Quadruple' %} </td>
            <td id="quadruple_rate"> {{ quadruple_rate }} </td>
            <td>{{ quadruple_available }} {{ label }}&nbsp;
            {% if user.is_authenticated %} 
              <select id="quadruples-select">
                {% for i in quadruple_range %}
                <option value='{{ i }}'>{{ i }}</option>
                {% endfor %}
                </select>
            {% endif %}
            </td>
          </tr>

          <tr>
            <td colspan="2"> {% translate 'Total for' %} <text id="booking-nights">0</text> {% translate 'nights' %}</td>
            <td id="booking-total"> </td>
            {% if user.is_authenticated %}
            <td> <button type="submit" class="btn btn-primary booking-btn-reserve">{% translate 'Reserve' %} </button></td>
            {% else %}
            <td> <text class="booking-terms"><i class="material-icons-outlined booking-table-icon">info</i>&nbsp;login to reserve</text></td>
            {% endif %}
            
          </tr>

        </tbody>
      </table>

    </div>

    <div class="alert alert-danger border border-danger booking-terms">
      &bull;&nbsp;{% translate 'Confirmation is immediate' %}
      &nbsp;&bull;&nbsp;{% translate 'Registration required' %}
      &nbsp;&bull;&nbsp;{% translate 'No booking or credit card fees!' %}
    </div>

   </div> <!-- Cierre del Col-Lg-6 -->

   <div class="col-lg-3 col-sm-12">
   </div>
</div>

  <div class="row">
    <div class="col-lg-12 col-sm-12"> 
    
     
   
  </div>
  </div>

{% endblock %}