{% extends "hotel/layout.html" %}
{% load i18n %}
{% block body %}

<div class="row">
  <div class="col-lg-12 col-sm-12 bookings-title"> 
  {% translate 'Bookings' %}
  </div>
</div>

  <div class="row">
    <div class="col-lg-12 col-sm-12"> 
    
      <form action="" method="post">

        <input type="date" id="datein" name="datein" min="2021-05-12">
        <input type="date" id="dateout" name="dateout" max="2022-05-12">

        <input type="submit" value="Submit">
      </form>
   
  </div>
  </div>

{% endblock %}