{% extends "hotel/layout.html" %}
{% load i18n %}
{% block body %}

  <div class="row">
    <div class="col-lg-12 col-sm-12 facilities-title"> 
       {% translate 'Most Popular Facilities And Services' %}
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-sm-12 facilities-popular">

      <div class="facilities-item">
        <i class="material-icons-outlined facilities-icon">wifi</i>
        &nbsp;{% translate 'WiFi available in all areas' %}
      </div>
      <div class="facilities-item">
       <i class="material-icons-outlined facilities-icon">smoke_free</i>
       &nbsp;{% translate 'Non-smoking rooms' %}
      </div>
      <div class="facilities-item">
        <i class="material-icons-outlined facilities-icon">bathroom</i>
        &nbsp;{% translate 'Private bathroom' %}
      </div>
      <div class="facilities-item">
        <i class="material-icons-outlined facilities-icon">free_breakfast</i>
        &nbsp;{% translate 'Breakfast included' %}
      </div>

    </div>
  </div>


  <div class="row">
    <div class="col-lg-12 col-sm-12 facilities-popular">

      <div class="facilities-item">
        <i class="material-icons-outlined facilities-icon">paid</i>
        &nbsp;{% translate 'Currency exchange' %}
      </div>
      <div class="facilities-item">
        <i class="material-icons-outlined facilities-icon">family_restroom</i>
        &nbsp;{% translate 'Family rooms' %}
      </div>
      <div class="facilities-item">
        <i class="material-icons-outlined facilities-icon">airport_shuttle</i>
        &nbsp;{% translate 'Airport shuttle (additional charge)' %}
      </div>
      <div class="facilities-item">
        <i class="material-icons-outlined facilities-icon">local_parking</i>
        &nbsp;{% translate 'Parking garage' %}
      </div>
      
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-sm-12 facilities-others">
        <span>
        <i class="material-icons-outlined facilities-others-icon">bathtub</i>
        &nbsp;{% translate 'Bathroom' %}
        </span>

        <ul>
          <li>{% translate 'Free toiletries' %}</li>
          <li>{% translate 'Toilet paper' %}</li>
          <li>{% translate 'Bath' %}</li>
          <li>{% translate 'Shower' %}</li>
          <li>{% translate 'Bidet' %}</li>
          <li>{% translate 'Hand Sanitiser' %}</li>
          <li>{% translate 'Towels/Sheets (extra fee)' %}</li>
        </ul>
    </div>
    <div class="col-lg-4 col-sm-12 facilities-others">
    </div>
    <div class="col-lg-4 col-sm-12 facilities-others">
    </div>
  </div>

 


{% endblock %}