{% extends "hotel/layout.html" %}

{% load i18n %}

{% load static %}

{% block script %}
    <script src="{% static 'hotel/slideshow.js' %}"></script>
{% endblock %}

{% block body %}

  <div class="row">
    <div class="col-lg-12 col-sm-12 location">
      <div class="material-icons-outlined">place</div>
      <div id="street">Av. de Mayo 1268, Monserrat, 1064 Buenos Aires, Argentina</div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12"> 
    <br>
    <p class="info-text">
    {% blocktranslate trimmed %}
    Le Monde offers contemporary orange and white rooms in downtown Buenos Aires, 2-blocks from 9 de Julho Avenue.
    {% endblocktranslate %}
    </p>

    <p class="info-text">
    {% blocktranslate trimmed %}
    Surrounded by restaurants and boutiques, it is 1 km from the Colon Theatre.
    {% endblocktranslate %}
    </p>

    <p class="info-text">
    {% blocktranslate trimmed %}
    Rooms at Hotel Mundial have air conditioning and private balconies with city views.
    All are equipped with cable TV, free Wi-Fi and a work desk.
    {% endblocktranslate %}
    </p>

    <p class="info-text">
    {% blocktranslate trimmed %}
    A breakfast buffet with seasonal fruits, natural juices and fresh pastries is served daily.
    Due to its central location, guests can enjoy a variety of local restaurants, bars and entertainment options.
    {% endblocktranslate %}
    </p>

    <p class="info-text">
    {% blocktranslate trimmed %}  
    Hotel Mundial is 200 m from Lima Subway Station, and 400 m from Avenida 9 de Julio.
    It is also 6-blocks from the iconic Obelisk.
    {% endblocktranslate %}
    </p>

    <p class="info-text">
    {% blocktranslate trimmed %}
    This is our guests' favourite part of Buenos Aires, according to independent reviews.
    {% endblocktranslate %}
    </p>

    <p class="info-text">
    {% blocktranslate trimmed %}
    Couples particularly like the location — they rated it 9.0 for a two-person trip.
    {% endblocktranslate %}
    </p>

    <p class="info-text">
    {% blocktranslate trimmed %} 
    We speak your language!
    {% endblocktranslate %}
    </p>
    
    </div>

    <div class="col-lg-6 col-sm-12">
      
    <!-- Images used to open the lightbox -->

    <div class="foto-gallery">

       <div class="fotos">
    <img src="/static/images/fotos/foto1.jpg" class="hover-shadow fotothumbnail" data-fotoid='1'>
    </div>

    <div class="fotos">
    <img src="/static/images/fotos/foto2.jpg" class="hover-shadow fotothumbnail" data-fotoid='2'>
    </div>

    <div class="fotos">
    <img src="/static/images/fotos/foto3.jpg" class="hover-shadow fotothumbnail" data-fotoid='3'>
    </div>

    <div class="fotos">
    <img src="/static/images/fotos/foto4.jpg" class="hover-shadow fotothumbnail" data-fotoid='4'>
    </div>

    <div class="fotos">
    <img src="/static/images/fotos/foto5.jpg" class="hover-shadow fotothumbnail" data-fotoid='5'>
    </div>

    <div class="fotos">
    <img src="/static/images/fotos/foto6.jpg" class="hover-shadow fotothumbnail" data-fotoid='6'>
    </div>

    <div class="fotos">
    <img src="/static/images/fotos/foto7.jpg" class="hover-shadow fotothumbnail" data-fotoid='7'>
    </div>

    <div class="fotos">
    <img src="/static/images/fotos/foto8.jpg" class="hover-shadow fotothumbnail" data-fotoid='8'>
    </div>
 
    <div class="fotos">
    <img src="/static/images/fotos/foto9.jpg" class="hover-shadow fotothumbnail" data-fotoid='9'>
    </div>
      
    <div class="fotos">
    <img src="/static/images/fotos/foto10.jpg" class="hover-shadow fotothumbnail" data-fotoid='10'>
    </div>

    <div class="fotos">
    <img src="/static/images/fotos/foto11.jpg" class="hover-shadow fotothumbnail" data-fotoid='11'>
    </div>

    <div class="fotos">
    <img src="/static/images/fotos/foto12.jpg" class="hover-shadow fotothumbnail" data-fotoid='12'>
    </div>
        
    </div>

  </div>

  </div>  <!-- close row line 12 -->

  <div class="row footer">
 
    <div class="col-lg-4">
    </div>

    <div class="col">
      <img src="/static/icons/facebook.svg" class="foot-icon">  
    </div>

    <div class="col">
      <img src="/static/icons/whatsapp.svg" class="foot-icon">  
    </div>

    <div class="col">
      <img src="/static/icons/instagram.svg" class="foot-icon">  
    </div>

    <div class="col">
      <img src="/static/icons/twitter.svg" class="foot-icon">  
    </div>

    <div class="col-lg-4"> 
    </div>

  </div>

  <!-- The Modal/Lightbox -->
<div id="myModal" class="modal">
  <span class="close cursor" id="close-modal">&times;</span>
  <div class="modal-content">

    {% for i in n %}

    <div class="mySlides">
      <div class="numbertext">{{i}} / {{ total }}</div>
      <img src="/static/images/fotos/foto{{ i }}.jpg" style="width:100%">
    </div>

    {% endfor %}

    <!-- Next/previous controls -->
    <a class="prev">&#10094;</a>
    <a class="next">&#10095;</a>

  </div>
</div>
  
{% endblock %}

