{% extends "hotel/layout.html" %}
{% load i18n %}
{% block body %}

  <div class="row">
    <div class="col-lg-12 col-sm-12 location">
      <div class="material-icons-outlined">place</div>
      <div id="street">Av. de Mayo 1268, Monserrat, 1064 Buenos Aires, Argentina</div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12"> 
    <br>
    <p class="info-text">
    {% blocktranslate trimmed %}
    Le Monde offers contemporary orange and white rooms in downtown Buenos Aires, 2-blocks from 9 de Julho Avenue.
    {% endblocktranslate %}
    </p>

    <p class="info-text">
    {% blocktranslate trimmed %}
    Surrounded by restaurants and boutiques, it is 1 km from the Colon Theatre.
    {% endblocktranslate %}
    </p>

    <p class="info-text">
    {% blocktranslate trimmed %}
    Rooms at Hotel Mundial have air conditioning and private balconies with city views.
    All are equipped with cable TV, free Wi-Fi and a work desk.
    {% endblocktranslate %}
    </p>

    <p class="info-text">
    {% blocktranslate trimmed %}
    A breakfast buffet with seasonal fruits, natural juices and fresh pastries is served daily.
    Due to its central location, guests can enjoy a variety of local restaurants, bars and entertainment options.
    {% endblocktranslate %}
    </p>

    <p class="info-text">
    {% blocktranslate trimmed %}  
    Hotel Mundial is 200 m from Lima Subway Station, and 400 m from Avenida 9 de Julio.
    It is also 6-blocks from the iconic Obelisk.
    {% endblocktranslate %}
    </p>

    <p class="info-text">
    {% blocktranslate trimmed %}
    This is our guests' favourite part of Buenos Aires, according to independent reviews.
    {% endblocktranslate %}
    </p>

    <p class="info-text">
    {% blocktranslate trimmed %}
    Couples particularly like the location — they rated it 9.0 for a two-person trip.
    {% endblocktranslate %}
    </p>

    <p class="info-text">
    {% blocktranslate trimmed %} 
    We speak your language!
    {% endblocktranslate %}
    </p>
    
    </div>

    <div class="col-lg-6 col-sm-12 foto-gallery">
      
      <!-- Images used to open the lightbox -->
    <div class="fotos">
    <img src="/static/images/fotos/foto00.jpg" onclick="openModal();currentSlide(1)" class="hover-shadow">
    </div>

    <div class="fotos">
    <img src="/static/images/fotos/foto01.jpg" onclick="openModal();currentSlide(2)" class="hover-shadow">
    </div>

    <div class="fotos">
    <img src="/static/images/fotos/foto02.jpg" onclick="openModal();currentSlide(3)" class="hover-shadow">
    </div>

    <div class="fotos">
    <img src="/static/images/fotos/foto03.jpg" onclick="openModal();currentSlide(4)" class="hover-shadow">
    </div>

    <div class="fotos">
    <img src="/static/images/fotos/foto04.jpg" onclick="openModal();currentSlide(5)" class="hover-shadow">
    </div>

    <div class="fotos">
    <img src="/static/images/fotos/foto05.jpg" onclick="openModal();currentSlide(6)" class="hover-shadow">
    </div>

    <div class="fotos">
    <img src="/static/images/fotos/foto06.jpg" onclick="openModal();currentSlide(7)" class="hover-shadow">
    </div>

    <div class="fotos">
    <img src="/static/images/fotos/foto07.jpg" onclick="openModal();currentSlide(8)" class="hover-shadow">
    </div>

    <div class="fotos">
    <img src="/static/images/fotos/foto08.jpg" onclick="openModal();currentSlide(9)" class="hover-shadow">
    </div>
 
    <div class="fotos">
    <img src="/static/images/fotos/foto09.jpg" onclick="openModal();currentSlide(10)" class="hover-shadow">
    </div>
      
    <div class="fotos">
    <img src="/static/images/fotos/foto10.jpg" onclick="openModal();currentSlide(11)" class="hover-shadow">
    </div>

    <div class="fotos">
    <img src="/static/images/fotos/foto11.jpg" onclick="openModal();currentSlide(12)" class="hover-shadow">
    </div>
        
    </div>

  </div>

{% endblock %}

