{% load static %}
{% load i18n %}

{% block script %}
    <script src="{% static 'hotel/common.js' %}"></script>
{% endblock %}

<!DOCTYPE html lang="en">
<html>
    <head>
        <title>{% block title %}Hotel Mundial{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'hotel/styles.css' %}" rel="stylesheet">
    </head>
    <body>


        <nav class="navbar navbar-expand-lg navbar-light bg-light barraprincipal">
            <a class="navbar-brand" href="{% url 'index' %}" ><text class="logo">Hotel Mundial</text></a>
          
            <div>
              <ul class="navbar-nav mr-auto autogestion">
                   
                    <li class="nav-item">   
                        <img src="/static/hotel/us.svg" class="language" data-language='en'> 
                    </li>

                    <li class="nav-item"> 
                        <img src="/static/hotel/ar.svg" class="language" data-language='es'> 
                    </li>

                    <li class="nav-item">   
                        <img src="/static/hotel/br.svg" class="language" data-language='pt'> 
                    </li>


                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
            
                {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a href="{% url 'logout' %}">{% translate 'Logout' %}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}">{% translate 'Login' %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'register' %}">{% translate 'Register' %}</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>

    </body>
</html>