{% extends "hotel/layout.html" %}
{% load i18n %}
{% block body %}

<div id="login-div">

    <text id="login-div-title">{% translate 'Login' %}</text>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="{% translate 'Username' %}">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="{% translate 'Password' %}">
        </div>
        <input class="btn btn-primary btn-login" type="submit" value="{% translate 'Login' %}">
    </form>

    {% translate "Don't have an account?" %}
     <a href="{% url 'register' %}">{% translate "Register here." %}</a>

</div>

{% endblock %}