{% extends "hotel/layout.html" %}
{% load i18n %}

{% load static %}

{% block script %}
    <script src="{% static 'hotel/mybookings.js' %}"></script>
    <script src="{% static 'hotel/common.js' %}"></script>
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12 col-sm-12 booking-title"> 
    {% translate 'My Bookings' %}
    </div>
</div>

<div class="row">
   <div class="col-lg-3 col-sm-12">
   </div>

   <div class="col-lg-6 col-sm-12">

    {% if post %}
    <div class="alert alert-success border border-success booking-info">
      <div class="material-icons-outlined booking-info-icon">done</div>
      <div class="booking-info-strong"> {% translate 'Your booking has been registered' %} </div>
      <div class="booking-info-normal"> {% translate 'Check In' %}: {{ datein_booking }} 
                                        {% translate 'Check Out' %}: {{ dateout_booking }} </div>

      <div class="booking-info-normal"> 
          {% if singles_booking > 0 %}
          {% translate 'Single' %}: {{ singles_booking }} &nbsp;
          {% endif %}
          {% if doubles_booking > 0 %}
          {% translate 'Double' %}: {{ doubles_booking }} &nbsp;
          {% endif %}
          {% if triples_booking > 0 %}
          {% translate 'Triple' %}: {{ triples_booking }} &nbsp;
          {% endif %}
          {% if quadruples_booking > 0 %}
          {% translate 'Quadruple' %}: {{ quadruples_booking }}
          {% endif %}
      </div>

      <div class="booking-info-normal"> 
        <b>Total: {{ amount_booking }}</b>
    </div>

    </div>

  {% endif %}

  {% if error %}
  <div class="alert alert-danger border border-danger booking-terms">
    <div class="material-icons booking-info-icon">error</div>
      <div> Booking error: {{ message }} </div>
  </div>
  {% endif %}

  {% if bookings %}

  <table class="table" id="mybookings-table">
    <thead class="thead-light">
      <tr>
        <th scope="col"> {% translate 'Booking ID' %} </th>
        <th scope="col"> {% translate 'Check In' %} </th>
        <th scope="col"> {% translate 'Check Out' %} </th>
        <th scope="col"> {% translate 'Rooms' %} </th>
        <th scope="col"> {% translate 'Total Amount' %} </th>
        <th scope="col" colspan="2"> {% translate 'Actions' %}</th>
      </tr>
    </thead>
    <tbody>

      {% for bk in bookings %} 
      <tr id='tr-{{bk.id}}'>
         <td> {{ bk.id }} </td>
          <td id='datein-{{bk.id}}'> {{ bk.checkin_date }} </td>
          <td id='dateout-{{bk.id}}'> {{ bk.checkout_date }} </td>
          <td id='rooms-{{bk.id}}'> 
            {% if bk.singles > 0 %}
              {% translate 'Single' %}: {{ bk.singles}}
            {% endif %}
            {% if bk.doubles > 0 %}
              {% translate 'Double' %}: {{bk.doubles}}
            {% endif %}
            {% if bk.triples > 0 %}
              {% translate 'Triple' %}: {{bk.triples}}
            {% endif %}
            {% if bk.quadruples > 0 %}
              {% translate 'Quadruple' %}: {{bk.quadruples}}
            {% endif %} 
          </td>
          <td id='amount-{{bk.id}}'> {{ bk.amount}} </td>
          {% if bk.checkin %}
          <td></td>
          <td> <button type="button" class="btn btn-outline-primary mybookings-btn btn-checkout" data-checkout_id='{{bk.id}}'> {% translate 'Check Out' %} </button> </td>
          {% else %}
          <td><button type="button" class="btn btn-outline-danger mybookings-btn btn-delete" data-delete_id='{{bk.id}}'> {% translate 'Delete' %}  </button></td>
            {% if bk.checkin_date == today %}
               {% if is_guest %} <!-- Only one reservation can be checked in at a time  -->
               <td></td>
               {% else %}
               <td><button type="button" class="btn btn-outline-success mybookings-btn btn-checkin" data-checkin_id='{{bk.id}}'> {% translate 'Check In' %} </button></td>
               {% endif %}
            {% else %}
            <td></td>
            {% endif %}
          {% endif %}
      </tr>
      {% endfor %}

    </tbody>
  </table>

  {% else %}

  <div class="alert alert-warning border border-warning booking-info">
    <div class="material-icons booking-info-icon">error</div>
      <div> {% translate 'You don\'t have bookings.' %} </div>
  </div>

  {% endif %}

  <div id="mybookings-checkout-div">

  <div class="col-lg-6 col-sm-12 mybookings-checkout-title"> 
  {% translate 'You are checking out the booking:' %}
  </div>

  <table class="table" id="mybookings-checkout">
    <thead class="thead-light"> 

      <tr>
        <th scope="col"> {% translate 'Booking ID' %} </th>
        <th scope="col"> {% translate 'Check In' %} </th>
        <th scope="col"> {% translate 'Check Out' %} </th>
        <th scope="col"> {% translate 'Rooms' %} </th>
        <th scope="col"> {% translate 'Total Amount' %} </th>
        <th scope="col" colspan="2"> </th>
      </tr>
    </thead>
    <tbody>

      <tr>
          <td id='checkout-id'> </td>
          <td id='checkout-datein'> </td>
          <td id='checkout-dateout'> </td>
          <td id='checkout-rooms'> </td>
          <td id='checkout-amount'> </td>
          <td></td>
          <td></td>
      </tr>

    </tbody>
  </table>
  <br>

  <div class="col-lg-8 col-sm-12 mybookings-checkout-title"> 
  {% translate 'Please, comment and rate your stay at the hotel:' %}
  </div>

  <div>
    <textarea class="form-control" rows="4" id="checkout-comment" maxlength="512"> 
    </textarea>
  </div> 

  <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star">5</label>
    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star">4</label>
    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star">3</label>
    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star">2</label>
    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star">1</label>
  </div>

<div class="col-lg-12 col-sm-6" id="checkout-controls">
   
    <div class="mybookings-checkout-title"> 
      {% translate 'Check-Out Code' %}
      <br><text id="checkout-help">(use 'ABC123' in demo)</text>
    </div>

    <div>
      <input type="text" class="form-control" id="checkout-code" pattern="[A-Z][0-9]{6}" maxlength="6">
    </div>

    <div>
      <button type="button" class="btn btn-outline-success mybookings-btn btn-cancel"> {% translate 'Cancel Check-Out' %} </button>
    </div>
    
    <div>
      <button type="button" class="btn btn-outline-danger mybookings-btn btn-confirm"> {% translate 'Confirm Check-Out' %} </button>
    </div>    
   
</div>

  </div>

</div> <!-- Cierre del Col-Lg-6 -->

<div class="col-lg-3 col-sm-12">
</div>
</div>


{% endblock %}