@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


a:hover { text-decoration:none; }


body { background-color: #FFF !important;
       padding: 0; }


#login-div, #register-div { width: 40%;
                            text-align: center;
                            margin: 64px auto; }


#login-div-title, #register-div-title { font-family: 'Comfortaa', cursive;
                                        font-size: xx-large;
                                        font-weight: bold;
                                        color: #4300D2; }

.btn-login { background: #270570;
             border:#270570 }

#container-header-div {padding: 0}

.cabecera { justify-content:baseline;
            padding: 0 0 8px;
            margin: 0;
            align-items: stretch; }

#logo { cursor: pointer;
        color: #4300D2;
        font-size: 36px;
        vertical-align:text-bottom; }

.logo { font-family: 'Comfortaa', cursive;
        font-size: xx-large;
        font-weight: bold;
        cursor: pointer;
        color: #4300D2; }

#logo-div { text-align: center; }

.icono { vertical-align:text-bottom; }

#logo-div, #space-div, #name-actions-div { padding-top: 8px; }

@media only screen and (min-width: 768px) {
#autogestion-bar-div { background-color: #EEE;
                       border-bottom-left-radius: 32px;
                       border-right: solid 1px #cccccc;
                       padding-right: 8px;
                       padding-left: 8px;
                       display: inline-flex;
                       justify-content: center;
                       height: 52px; }}

@media only screen and (max-width: 768px) {
 #autogestion-bar-div { background-color: #EEE;
                        border-right: solid 1px #cccccc;
                        padding-right: 8px;
                        padding-left: 8px;
                        display: inline-flex;
                        justify-content: center;
                        height: 52px; }}

#name-actions-div { background-color: #EEE;
                    display: inline-flex;
                    justify-content: center;
                    height: 52px; }

.autogestion-item { padding: 8px 8px; }
                  
.autogestion-item a { font-family: 'Rubik', sans-serif;
                      font-size:medium;
                      color: #444; }

.autogestion-item input[type="image"] {padding-right: 16px;
                                       height: 32px; }

#user-authenticated { padding-top: 6px;
                      font-size: large;
                      color: #FF7A80; }

.language { height: 32px;
            width: 32px;
            display: block;
            cursor: pointer; }

#header-info-row { padding-top: 8px; } 

#header-info-col  { padding-left: 0;
                    padding-right: 0;
                    padding-bottom: 8px; } /* to best view in mobile mode */

.header-info-links { display:block;
                     font-size: 14px;
                     text-align: center;
                     color: dimgray; }

.header-info-links:hover { font-weight: bold;
                           color: #4300D2; }

.header-info-icons { font-size: 24px; }

              
.header-options-col { background-color: #DDD5F5;
                      padding: 12px 128px; }

.header-options-col-menu { display: inline-flex; }

.header-options-col-item { font-size: 16px;
                           font-weight: normal;
                           color: white;
                           background-color: #270570;
                           text-align: center;
                           padding: 8px 0;
                           cursor: pointer; }

.header-options-col-item:hover { font-weight: bold; }

@media only screen and (min-width: 768px)

{ #col-item-1 { border-top-left-radius: 8px;
                border-bottom-left-radius: 8px; }

  #col-item-6 { border-top-right-radius: 8px;
                border-bottom-right-radius: 8px; }
}

.location { font-family: 'Comfortaa', cursive;
            font-size: small;
            font-weight: normal;
            color: midnightblue;
            display:inline-flex;
            padding: 8px 0 0 80px; }

#street { padding-top: 4px;
          padding-left: 4px;}

.info-text { font-family: 'Comfortaa', cursive;
             font-size: medium;
             font-weight: normal;
             color: dimgray;
             display:inline-flex;
             padding: 8px 0 0 80px; }










