@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


body { background-color: #eee !important; }

ol, ul { list-style: none; }

.barraprincipal { padding: 0;
                  justify-content: space-between;
                  margin: auto;
                  align-items: stretch; }

.layout { padding-left: 0; }

.logo { padding-left: 32px;
        font-family: 'Comfortaa', cursive;
        font-size: x-large;
        font-weight: bold;
        cursor: pointer;
        color: #4300D2 }

.autogestion { display: flex;
               align-items: center;
               background-color: #EEE;
               border-bottom-left-radius: 24px;
               padding: 0px 24px;
               box-sizing: border-box;
               height: 48px; }

.autogestion a { font-family: 'Rubik', sans-serif;
                 font-size:medium;
                 color: #444;
                 display: block;
                 padding-right: .5rem;
                 padding-left: .5rem; }

.language { height: 24px;
            width: 24px;
            display: block;
            margin: 8px;
            cursor: pointer }

