@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

a:hover { text-decoration:none; }

body { background-color: #FBFBFB !important;
       padding: 0; 
       overflow-x: hidden;
       overflow-y: scroll; } /* el valor scroll me permitió que no se mueva la página en faqs.html */

#login-div, #register-div { width: 40%;
                            text-align: center;
                            margin: 64px auto; }

#login-div-title, #register-div-title { font-family: 'Comfortaa', cursive;
                                        font-size: xx-large;
                                        font-weight: bold;
                                        color: #4300D2; }

.btn-login { background: #270570;
             border:#270570 }

#container-header-div {padding: 0}

.cabecera { justify-content:baseline;
            padding: 0 0 8px;
            margin: 0;
            align-items: stretch; }

#logo { cursor: pointer;
        color: #4300D2;
        font-size: 36px;
        vertical-align:text-bottom;
        padding: 8px 0 0 8px; }

.logo { font-family: 'Comfortaa', cursive;
        font-size: xx-large;
        font-weight: bold;
        cursor: pointer;
        color: #4300D2; }

.icono { vertical-align:text-bottom; }

#logo-div, #space-div, #name-actions-div { padding-top: 8px; }

@media only screen and (min-width: 768px) {
#autogestion-bar-div { background-color: #EEE;
                       border-bottom-left-radius: 32px;
                       border-right: solid 1px #cccccc;
                       padding-right: 8px;
                       padding-left: 8px;
                       display: inline-flex;
                       justify-content: center;
                       height: 52px; }}

@media only screen and (max-width: 768px) {
 #autogestion-bar-div { background-color: #EEE;
                        border-right: solid 1px #cccccc;
                        padding-right: 8px;
                        padding-left: 8px;
                        display: inline-flex;
                        justify-content: center;
                        height: 52px; }}

#name-actions-div { background-color: #EEE;
                    display: inline-flex;
                    justify-content: center;
                    height: 52px; }

.autogestion-item { padding: 8px 8px; }
                  
.autogestion-item a { font-family: 'Rubik', sans-serif;
                      font-size:0.8rem;
                      color: #444; }

.autogestion-item input[type="image"] { padding-right: 16px;
                                        height: 32px; }

#user-authenticated { padding-top: 2px;
                      font-size: large;
                      color: #FF7A80; }

.language { height: 32px;
            width: 32px;
            display: block;
            cursor: pointer; }

#header-info-row { padding-top: 8px; } 

#header-info-col  { padding-left: 0;
                    padding-right: 0;
                    padding-bottom: 8px; } /* to best view in mobile mode */

.header-info-links { display:block;
                     font-size: 0.7rem;
                     text-align: center;
                     color: dimgray; }

.header-info-links:hover { font-weight: bold;
                           color: #4300D2; }

.header-info-icons { font-size: 24px; }
    
.header-options-col { background-color: #DDD5F5;
                      padding: 12px 128px; }

.header-options-col-menu { display: inline-flex; }

.header-options-col-item { font-size: 16px;
                           font-weight: normal;
                           color: white;
                           background-color: #270570;
                           text-align: center;
                           padding: 8px 0;
                           cursor: pointer; }

.header-options-col-item:hover { color:lightblue }

a.header-bookings-link { color: white; }
a.header-bookings-link:hover { color:lightblue }



@media only screen and (min-width: 768px)

{ #col-item-1 { border-top-left-radius: 8px;
                border-bottom-left-radius: 8px; }

  #col-item-6 { border-top-right-radius: 8px;
                border-bottom-right-radius: 8px; }
}

.location { font-family: 'Comfortaa', cursive;
            font-size: small;
            font-weight: normal;
            color: midnightblue;
            display:inline-flex;
            padding: 8px 0 0 64px; }

#street { padding-top: 4px;
          padding-left: 4px;}

@media only screen and (max-width: 768px) 

{ 
.info-text { font-family: 'Comfortaa', cursive;
             font-size:small;
             font-weight: normal;
             color: dimgray;
             display:inline-flex;
             margin: 0;
             padding: 0 8px 8px 16px;
             line-height: 1.6; } }

@media only screen and (min-width: 768px) {
.info-text { font-family: 'Comfortaa', cursive;
             font-size: 0.9rem;
             font-weight: normal;
             color: dimgray;
             display:inline-flex;
             margin: 0;
             padding: 0 0 8px 48px;
             text-align: justify;
             line-height: 1.6; }}

@media only screen and (max-width: 768px) {
.foto-gallery { padding: 0 0 0 16px;
                display: grid;
                justify-content: center;
                grid-row-gap: 10px;
                grid-template-columns: auto; }}

 @media only screen and (min-width: 768px) {
.foto-gallery { padding: 0 0 0 16px;
                display: grid;
                grid-column-gap: 1px;
                grid-row-gap: 10px;
                grid-template-columns: auto auto auto; }}

.fotos { cursor: pointer;
         margin: 0;
         padding: 0; }

.fotothumbnail { width: 192px; }

.footer { padding: 64px 0 24px 0;
          text-align: center; }

.foot-icon { height: 24px;
             opacity: 60%;}

.foot-icon:hover { opacity: 100%;
                   cursor: pointer }


/* Styles for Facilities */
/* Styles for Facilities */

.facilities-title  { font-family: 'Comfortaa', cursive;
                     font-size: large;
                     font-weight: normal;
                     color: #4300D2;
                     text-align: center;
                     padding-top: 0.8rem; }

.facilities-popular { font-family: 'Comfortaa', cursive;
                      font-size:small;
                      font-weight: normal;
                      color: dimgray;
                      text-align: center;
                      padding-top: 0.8rem;
                      display:flex;
                      justify-content: center; }

.facilities-item { padding: 16px; }                

.facilities-icon { color: #4300D2;
                   vertical-align: bottom; }

.facilities-others-row { padding-top: 1.6rem;}

.facilities-others-ul-title { font-family: 'Comfortaa', cursive;
                              font-size: small;
                              font-weight: normal;
                              color: black }

.facilities-others-li { font-family: 'Comfortaa', cursive;
                        font-size: x-small;
                        font-weight: normal;
                        color: dimgray; }

.facilities-others-icon { vertical-align: bottom; }

.additional-charge-text { font-size: xx-small; }


/* Styles for House Rules */
/* Styles for House Rules */

.house-rules-title { font-family: 'Comfortaa', cursive;
                     font-size: large;
                     font-weight: normal;
                     color: #4300D2;
                     text-align: center;
                     padding-top: 0.8rem;
                     padding-bottom: 2rem; }

.house-rules-icon { color: #4300D2;
                    font-size: 2rem;
                    vertical-align: bottom; }

.house-rules-col-concept { background-color: #EBF3FF;
                           padding: 1rem 0 0 1rem;
                           display: flex; }

.house-rules-col-description { background-color: #EBF3FF;
                               padding: 1.1rem;
                               display: block; }

.houses-rules-label { font-family: 'Comfortaa', cursive;
                      font-size: 1.1rem;
                      font-weight:lighter;
                      color: #4300D2;
                      text-align: center;
                      padding-top: 0.2rem;
                      padding-left: 0.2rem; }
                                  
.timebar { padding-top: 0.8rem;
           text-align: center; }

.timebar-base { position: relative;
                width: 360px;
                height: 16px;
                border: 1px solid #c2c2c2;
                background: #ededed;
                overflow: hidden;
                border-radius: 8px;
                margin-left: 10%; }             
                    
.timebar-bar { display: block;
               position: absolute;
               top: 0;
               bottom: 0;
               background: #008009; }

.timebar-label-start { font-size: 0.7rem;
                       margin-left: 54% ; }

.timebar-label-end { font-size: 0.7rem; 
                     margin-left: 14% ; }
                                
.timebar-label-start-2 { font-size: 0.7rem;
                         margin-left: 11% ; }

 .timebar-label-end-2 { font-size: 0.7rem; 
                        margin-left: 24% ; }

.timebar-info { font-family: 'Comfortaa', cursive;
                font-size: 0.8rem;
                font-weight:lighter;
                color: dimgray;
                padding-top: 0.2rem;
                padding-left: 0.2rem; }

.creditcard-icon { width: 2.4rem;}

/* Styles for Reviews */
/* Styles for Reviews */

.reviews-note { font-family: 'Comfortaa', cursive;
                font-size: 0.8rem;
                color: #4300D2;
                text-align: center; } 

#reviews-icon { font-size: 1rem;
                color: #4300D2;
                vertical-align: middle; }

#reviews-table thead th { font-family: 'Comfortaa', cursive;
                          font-size: 0,8rem;
                          font-weight: normal;
                          padding: 0.4rem;
                          text-align: center; }

#reviews-table tbody td { font-family: 'Comfortaa', cursive;
                          font-size: 0.7rem;
                          font-weight: normal;
                          padding: 1rem;
                          text-align: center; }

#reviews-table tbody td:nth-child(2) { text-align:justify; }

.reviews-author { font-size: 0.8rem;
                  font-weight: 900; }

.reviews-date { font-size: 0.5rem;
                color: #444 }

.reviews-comment { font-size: 0.7rem;
                   color: #444 }

.reviews-score { font-size: 0.8rem;
                 background: #BAACE3;
                 color: white;
                 padding: 0.4rem 0.5rem;
                 border-radius: 0.4rem; }

.reviews-active { background: #BAACE3;
                  color: white; }

#reviews-average-div { font-family: 'Comfortaa', cursive;
                       font-size: 0.8rem;
                       background: #BAACE3;
                       color: white;
                       padding: 0.9rem;
                       margin: 1.1rem 4rem 0 4rem;
                       border-radius: 0.5rem; }

#reviews-score-div { font-size: 2.4rem;
                     padding: 0.8rem 0 0 0;
                     text-align: center; }


/* Styles for FAQs */
/* Styles for FAQs */

.faqs-title { font-family: 'Comfortaa', cursive;
              font-size: large;
              font-weight: normal;
              color: #4300D2;
              text-align: center;
              padding-top: 0.8rem;
              padding-bottom: 2rem; }

.faqs-question { background-color: #EBF3FF;
                 padding: 1rem 0 1rem 1rem;
                 transition: 0.4s;
                 margin-top: 0.4rem; }

.faqs-question:hover { cursor: pointer;
                       background-color: #C0B5FF;}

.faqs-question-label { font-family: 'Comfortaa', cursive;
                       font-size: 1.1rem;
                       font-weight:lighter;
                       color: #4300D2;
                       text-align: left; }

.faqs-question-label::after { content: '\002B';
                              color: #4300D2;
                              font-weight: bold;
                              text-align: right;
                              float: right;
                              margin-right: 8px; }


.active::after { content: "\2796"; /* Unicode character for "minus" sign (-) */ }

.faqs-answer { background-color: #EEE;
               padding: 1rem 0rem 1rem 1rem;
               display: none; }

.faqs-answer-label { font-family: 'Comfortaa', cursive;
                     font-size: 0.9rem;
                     font-weight:lighter;
                     color: #444;
                     text-align: left;
                     display: flex; }


/* Styles for bookings, Orders */
/* Styles for bookings, Orders */

.booking-title, .orders-title, 
.invoice-title, .messages-title,
.reviews-title { font-family: 'Comfortaa', cursive;
                 font-size: large;
                 font-weight: normal;
                 color: #4300D2;
                 text-align: center;
                 padding-top: 0.8rem;
                 padding-bottom: 1rem; }

.booking-info, .orders-info { font-family: 'Comfortaa', cursive; }    

.booking-info-icon, .order-info-icon { vertical-align: bottom;
                                       float: left;
                                       padding-right: 0.2rem; }

.booking-info-strong, .orders-info-strong { font-weight: bolder;
                                           font-size:small; }

.booking-info-normal, .orders-info-normal { font-weight:lighter;
                                           font-size: smaller;
                                           padding-top: 0.4rem;
                                           padding-left: 1.4rem; }

.booking-availability-title,
.orders-rates-title          { font-family: 'Comfortaa', cursive;
                               font-size: medium;
                               font-weight: bold;
                               color: black;
                               text-align: left;
                               padding-top: 0.8rem;
                               padding-bottom: 0.4rem; }

.booking-availability-normal { font-weight:lighter;
                               font-size: small; }

.booking-form { padding-top: 0.1rem;
                margin: 0;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap; }

.booking-form-checkin-label { font-size: small;
                              font-weight: bold;
                              color: black;
                              margin-left: 20%; }

.booking-form-checkout-label { font-size: small;
                               font-weight: bold;
                               color: black;
                               margin-left: 16%; }

.booking-btn, .btn-orders { font-size: smaller;
                            margin-top: 8px; }

.booking-btn-reserve { font-size: smaller;}

.booking-table-icon { vertical-align:text-bottom;
                      font-size: 20px; }

.booking-table-leyend { font-size: 0.6rem;}

.booking-table-div { padding: 0.2rem 0 0 0; }

#booking-table { table-layout:auto;		  
                 border-style: none;
                 border-collapse: collapse;
                 width: 100%; }

#booking-table thead th { font-family: 'Comfortaa', cursive;
                          font-size: smaller;
                          font-weight: normal;
                          padding: 0.4rem;
                          border-left: 1px solid lightgray;
                          text-align: center;
                          color: white;
                          background-color: gray }

#booking-table tbody td { font-family: 'Comfortaa', cursive;
                          font-size: small;
                          font-weight: normal;
                          padding: 0.4rem;
                          text-align: center;
                          color: #444 }

#booking-table tbody tr { border-bottom: 1px solid lightgray; }

#booking-table tbody td:first-child { border-right: 1px solid lightgray;
                                      text-align: left;
                                      font-size: smaller;
                                      padding-right: 0; }

#booking-table tbody td:nth-child(2) { border-right: 1px solid lightgray; }
#booking-table tbody td:nth-child(3) { border-right: 1px solid lightgray; }
#booking-table tbody td:nth-child(4) { text-align: right; }

/* last row */
#booking-table tbody tr:last-child {border-bottom: none; }

#booking-table tbody tr:last-child td:nth-child(1) { border-right: 1px solid lightgray;
                                                     color: gray;
                                                     font-size:small;
                                                     font-weight: bold;
                                                     padding-top: 0.6rem;
                                                     padding-right: 0.8rem; ;
                                                     text-align: right; }

#booking-table tbody tr:last-child td:nth-child(2) { border-right: 1px solid lightgray; }

#booking-table tbody tr:last-child td:nth-child(3) { border-right: none;
                                                     color: red }

.booking-terms, .orders-terms { font-size: smaller;
                                text-align: center; }


/* Tooltip container */
.booking-tooltip { position: relative;
                   display: inline-block;
                   cursor: pointer; }
/* Tooltip text */

.booking-tooltip .tooltiptext { visibility: hidden;
                                width:max-content;
                                bottom: 100%;
                                left: 50%;
                                margin-left: -60px;
                                background-color: black;
                                color: #fff;
                                text-align: center;
                                padding: 6px 6px;
                                border-radius: 6px;
                                position: absolute; /* Position the tooltip text  */
                                z-index: 1; }

                               
/* Show the tooltip text when you mouse over the tooltip container */
.booking-tooltip:hover .tooltiptext { visibility: visible; }      

/* Styles for mybookings */
/* Styles for mybookings */

.mybookings-btn { font-size: 0.6rem; }

#mybookings-table { table-layout:auto;		  
                    border-style: none;
                    border-collapse: collapse;
                    width: 100%; }

#mybookings-table thead th { font-family: 'Comfortaa', cursive;
                             font-size: smaller;
                             font-weight: normal;
                             padding: 0.4rem;
                             text-align: center; }

#mybookings-table tbody td { font-family: 'Comfortaa', cursive;
                             font-size: 0.7rem;
                             font-weight: normal;
                             padding: 0.4rem;
                             text-align: center;
                             color: #444;
                             vertical-align: middle; }

#mybookings-checkout-div { display: none; }

.mybookings-checkout-title { font-size: 0.8rem;
                             color: #4300D2; }

#mybookings-checkout { table-layout:auto;		  
                       border-style: none;
                       border-collapse: collapse;
                       width: 100%; }

#mybookings-checkout thead th { font-family: 'Comfortaa', cursive;
                                font-size: smaller;
                                font-weight: normal;
                                padding: 0.4rem;
                                text-align: center; }

#mybookings-checkout tbody td { font-family: 'Comfortaa', cursive;
                                font-size: 0.7rem;
                                font-weight: normal;
                                padding: 0.4rem;
                                text-align: center;
                                color: #444 }

#checkout-comment { resize: none;
                    font-family: 'Comfortaa', cursive;
                    font-size: smaller;
                    font-weight:lighter;
                    color: #444 }

#checkout-controls { padding-top: 1.2rem;
                     display: flex;
                     justify-content: space-between;        
                     text-align: center;
                     vertical-align: middle; }

#checkout-code { font-family: 'Comfortaa', cursive;
                 font-size: smaller;
                 font-weight:lighter;
                 width: 4.6rem; }

#checkout-help { font-size: 0.5rem;}


.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before { content: "\f005"; /* Star */
                             margin: 2px;
                             font-size: 1.6em;
                             font-family: FontAwesome;
                             display: inline-block; }
                    
.starrating > label { color: #DDD5F5; /* Start color when not clicked */ }
                    
.starrating > input:checked ~ label { color: #270570; } /* Set color when star checked */
                    
.starrating > input:hover ~ label { color: #270570;
                                    cursor: pointer;  } /* Set color when star hover */
                    

/* Styles for Orders */
/* Styles for Orders */

#orders-icon { vertical-align: middle; }

.orders-grid {display: grid;
              padding: 4px;
              grid-column-gap: 0px;
              grid-row-gap: 4px;
              grid-template-columns: 50% 50%;
              align-items: left; } 

.orders-grid-item { font-size: 0.7rem;
                    padding: 2px;
                    text-align: left; }

#orders-div { background: #F8F8F8; }

#orders-form { margin: 0 }

#orders-select { font-family: 'Comfortaa', cursive;
                 font-size: 0.8rem;
                 font-weight: normal; }

#orders-table { table-layout:auto;		  
                border-style: none;
                border-collapse: collapse;
                width: 80%;
                margin-left: 10%; }

#orders-table thead th { font-family: 'Comfortaa', cursive;
                         font-size: smaller;
                         font-weight: normal;
                         padding: 0.4rem;
                         text-align: center;
                         color: white;
                         background-color: grey }
       
#orders-table tbody td { font-family: 'Comfortaa', cursive;
                         font-size: small;
                         font-weight: normal;
                         padding: 0.4rem;
                         text-align: center;
                         color: #444 }

#orders-table tbody td:first-child { text-align: left;                              
                                     font-size: smaller; }


@keyframes hide {
        0% { opacity: 1;
             height: max-content;
             line-height: 100%;
             padding: 20px;
             margin-bottom: 10px; }

        75% { opacity: 0;
              height: max-content;
              line-height: 100%;
              padding: 20px;
              margin-bottom: 10px; }

        100% { opacity: 0;
               height: max-content;
               line-height: 0px;
               padding: 0px;
               margin-bottom: 0px; }
        }
    
#orders-successful-div { display: none;
                         animation-name: hide;
                         animation-duration: 10s;
                         animation-fill-mode: forwards;
                         animation-play-state: paused; }
                         

/* Styles for Invoice */
/* Styles for Invoice */


#invoice-table thead th { font-family: 'Comfortaa', cursive;
                          font-size: 0,8rem;
                          font-weight: normal;
                          padding: 0.4rem;
                          text-align: center; }

#invoice-table  tbody td { font-family: 'Comfortaa', cursive;
                           font-size: 0.7rem;
                           font-weight: normal;
                           padding: 0.4rem;
                           text-align: center;
                           color: #444 }
    
#invoice-table tbody td:nth-child(2) { text-align: left; }

#invoice-table tbody td:last-child { text-align: right; }

/* Styles for Messages */
/* Styles for Messages */

#messages-table { margin-top: 3.2rem; }

#messages-table thead th { font-family: 'Comfortaa', cursive;
                           font-size: 0,8rem;
                           font-weight: normal;
                           padding: 0.4rem;
                           text-align: center; }

#messages-table  tbody td { font-family: 'Comfortaa', cursive;
                            font-size: 0.7rem;
                            padding: 0.4rem;
                            text-align: center; }

#messages-table  tbody td:nth-child(2) { font-weight: lighter; 
                                         text-align: left; }

.messages-guests { font-size: 0.9rem;
                   font-weight: 900;
                   color: darkred; }

.messages-hotel { font-size: 0.9rem;
                  font-weight: 900;
                  color: mediumslateblue }

.messages-date { font-size: 0.5rem;
                 color: #444 }

.messages-comment { font-size: 0.8rem;
                    font-style: italic;    
                    color: #444 }

.messages-comment-hotel { font-size: 0.8rem;
                          font-style: normal;
                          color: #444 }

.messages-delete { font-size: 1.6rem;
                   color: indianred;
                   cursor: pointer; }

.messages-delete:hover { color:lightsalmon;}

.messages-textarea-title { font-size: 0.8rem;
                           color: #4300D2; }

#messages-forms { padding: 0.4rem;
                  justify-content: space-around; }

#messages-textarea { resize: none;
                     font-family: 'Comfortaa', cursive;
                     font-size: smaller;
                     font-weight:lighter;
                     color: #444 }

.messages-btn { font-size: 0.6rem;
                float: right;
                margin: 0.5rem }

#messages-unreaded { font-family: 'Comfortaa', cursive;
                     font-size: smaller;
                     color:#ff5050 }

/* Styles for gallery */
/* Styles for gallery */

/* The Modal (background) */
.modal { display: none;
         position: fixed;
         z-index: 1;
         padding-top: 100px;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         overflow: auto;
         background-color: black; }
      
/* Modal Content */
.modal-content { position: relative;
                 background-color: #fefefe;
                 margin: auto;
                 padding: 0;
                 width: 64%;
                 max-width: 1200px; }
      
/* The Close Button */
.close { color: white;
         position: absolute;
         top: 10px;
         right: 25px;
         font-size: 48px;
         font-weight: bold; }
      
.close:hover, .close:focus { color: #999;
                             text-decoration: none;
                             cursor: pointer; }
      
/* Hide the slides by default */
.mySlides { display: none; }
      
/* Next & previous buttons */
.prev, .next { cursor: pointer;
               position: absolute;
               top: 50%;
               width: auto;
               padding: 16px;
               margin-top: -50px;
               color: white;
               background: dimgray;
               font-weight: bold;
               font-size: 24px;
               transition: 0.6s ease;
               border-radius: 0 3px 3px 0;
               user-select: none;
               -webkit-user-select: none; }
      
/* Position the "next button" to the right */
.next { right: 0;
        border-radius: 3px 0 0 3px; }
      
.prev:hover, .next:hover { background-color: whitesmoke; }
      
/* Numbers */
.numbertext { color: #f2f2f2;
              font-size: 12px;
              padding: 8px 12px;
              position: absolute;
              top: 0; }
      
